:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    margin: 0px 5%;
  }

h1{
    font-size: 20px;
    text-align: center;
    padding: 20px 0px;
}

.form-Container{
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    gap: 5px;
}

select{
    height: 35px;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 0px 10px;
}

.form-Container input:hover,
.form-Container input:focus{
    outline: #0085ff;
    border: #0085ff;
}
.text-info{
    padding: 0px 10px 20px;
    text-align: center;
}
.button{
    margin: 15px 0px;
    height: 45px;

}
.avaluo{
    border: 1px solid #fff;
    margin: 20px 10%;
    padding: 20px;
}


.hidden{
    display: none;
}

@media screen and (min-width:768px){
    h1{
        font-size: 30px;
    }
    .form-Container{
        display: flex;
        flex-direction: column;
        padding: 0 20%;
        gap: 10px;
    }
    .avaluo{
        border: 1px solid #fff;
        margin: 20px 20%;
        padding: 20px;
    }

}
